@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  src: local("Segoe UI"), url("/fonts/Segoe UI.ttf") format("ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #6725a8;
  font-family: "Segoe UI";
  overflow-x: hidden;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px 16px 24px;
  gap: 32px;
  height: 88px;
  width: 100vw;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.navigation__button-catalog {
  margin: auto;
  width: 60px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 8px;
  background-color: transparent;
  padding: 12px 10px;
  text-align: center;
  cursor: pointer;
  background: url("../assets/button-catalog.svg") no-repeat center center;
}
.navigation__logo {
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-variant: small-caps;
  color: #ffffff;
  letter-spacing: 0.02em;
}
.search-form {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.search-form__input {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  height: 48px;
  width: 100%;
  color: #ffffff;
}
.search-form__input::placeholder {
  color: #ffffff;
  opacity: 0.5;
}
.search-form__input:focus {
  outline: none;
}
.search-form__button {
  background-color: transparent;
  border: none;
  padding: 12px 20px;
  height: 48px;
  color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
}
.menu-links {
  text-align: center;
  display: flex;
  height: 100%;
}
.menu-links__link {
  margin-right: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
.menu-links__link a {
  color: #ffffff;
  text-decoration: none;
}
.menu-links__count {
  position: absolute;
  left: 57.14%;
  right: 14.29%;
  top: -13%;
  background: #f55123;
  border-radius: 16px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  font-weight: 700;
  font-size: 10px;
  line-height: 18px;
}

.container {
  background-color: #f6f6fa;
  border-radius: 24px;
  display: flex;
  align-items: flex-start;
  padding: 34px 24px;
}
/* .container_items {
  padding: 34px 24px;
} */
.container_cart {
  width: 66%;
  margin-right: 32px;
}
.total {
  width: 34%;
  background: #ffffff;
  padding: 16px 24px 24px 24px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  height: auto;
}
.heading_1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.01em;
}
.heading_2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
}
.heading_4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
}
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.checkbox + label::before {
  content: "";
  display: inline-flex;
  align-items: center;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.5em;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.checkbox:checked + label::before {
  border-color: #cb11ab;
  background-color: #cb11ab;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.checkbox_bw:checked + label::before {
  border-color: transparent;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.accordion__item {
  margin-top: 24px;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.accordion__header::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23A0A0A4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  content: "";
  transition: transform 0.2s ease-out;
}

.accordion__item_show .accordion__header::after,
.accordion__item_slidedown .accordion__header::after {
  transform: rotate(-180deg);
}

.accordion__content {
  padding: 16px 0px;
  display: flex;
  gap: 16px;
}
.accordion__content:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}
.card-item label {
  height: 96px;
}
.card-item {
  width: 50%;
  display: flex;
}
.card-item__image {
  display: flex;
  justify-content: center;
}
.card-item__image img {
  height: 96px;
  width: 72px;
}
.card-item__size {
  margin-left: 16px;
}
.card-item__size_for-mobile {
  display: none;
}
.card-item__text {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card-item__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.card-item__params {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-right: 16px;
}
.card-item__geo,
.card-item__seller {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a4;
}

.card-item__seller_button .card-item__seller_info {
  display: none;
  position: absolute;
  left: 0;
  top: 18px;
  background: #ffffff;
  border-radius: 8px;
  color: #000;
  flex-direction: column;
  align-items: flex-start;
  padding: 11px 16px;
  gap: 8px;
  font-size: 13px;
  line-height: 16px;
  width: 280px;
  min-width: 100%;
}
.card-item__seller_button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.card-item__seller_button:hover {
  cursor: pointer;
}
.card-item__seller_button:hover .card-item__seller_info {
  display: flex;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}
@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

.card-item__image-absent img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.card-item__text-absent {
  color: #a0a0a4;
}
.item-operations {
  min-width: 100px;
}
.item-operations__form_counter {
  background: #ffffff;
  border-radius: 8px;
  width: 100px;
  height: 44px;
  display: flex;
}
.item-operations__form_counter input {
  border: none;
  background: transparent;
  width: calc(100% / 3);
  height: 100%;
  cursor: pointer;
  text-align: center;
}

.item-operations__form_counter input::-webkit-outer-spin-button,
.item-operations__form_counter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.item-operations__warning {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ff3b30;
}
.item-operations__buttons {
  margin-top: 10px;
  text-align: right;
}
.item-operations__buttons img:first-child {
  margin-right: 19px;
}
.item-price_for-mobile {
  display: none;
  position: relative;
}
.item-price {
  width: 25%;
  text-align: right;
  position: relative;
}
.item-price__discount {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.item-price__nodiscount {
  display: inline-block;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #a0a0a4;
  text-decoration: line-through;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.item-price__nodiscount_info {
  display: none;
  position: absolute;
  left: 0;
  top: 58px;
  background: #ffffff;
  border-radius: 8px;
  color: #000;
  flex-direction: column;
  align-items: flex-start;
  padding: 11px 16px;
  gap: 8px;
  font-size: 13px;
  line-height: 16px;
}
.item-price__nodiscount_info table {
  border-collapse: collapse;
}
.item-price__nodiscount_info table tr td {
  vertical-align: top;
  white-space: nowrap;
  border: 0px solid transparent;
  background-clip: padding-box;
}
.item-price__nodiscount_info table tr:last-child td {
  border-top-width: 4px;
}
.item-price__nodiscount_info table tr td:first-child {
  text-align: left;
  color: #a0a0a4;
  border-right-width: 4px;
}
.item-price__nodiscount_info table tr td:last-child {
  text-align: right;
}
.item-price__nodiscount:hover {
  cursor: pointer;
}
.item-price__nodiscount:hover + .item-price__nodiscount_info {
  display: flex;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}
.delivery-method {
  background: #ffffff;
  border-radius: 16px;
  padding: 16px 24px 24px 24px;
  margin-top: 24px;
}
.delivery-method__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text_magenta {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #cb11ab;
  text-decoration: none;
  cursor: pointer;
}
.delivery-method__row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.delivery-method__col-30,
.delivery-method__col-70 {
  padding: 8px 0;
}
.delivery-method__col-30 {
  width: 30%;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.delivery-method__col-70 {
  width: 70%;
}
.delivery-method__col-70 .text-small {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.delivery-method__col-70 img {
  max-height: 56px;
}
.delivery-method__col-70_image {
  display: inline-block;
  position: relative;
}
.delivery-method__col-70_count {
  position: absolute;
  top: -8px;
  right: -4px;
  background: #f55123;
  border-radius: 16px;
  color: #ffffff;
  font-weight: 600;
  font-size: 10px;
  line-height: 18px;
  padding: 0px 6px;
}
.delivery-method__price-shipping {
  display: flex;
  align-items: center;
  position: relative;
}
.delivery-method__price-shipping img {
  vertical-align: middle;
  margin-right: 9px;
}
.delivery-method__price-shipping_container {
  vertical-align: middle;
  position: relative;
}
.delivery-method__price-shipping_free {
  color: #0cb477;
  border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
  display: inline-block;
  vertical-align: middle;
}
.delivery-method__price-shipping_free_info {
  display: none;
  background: #ffffff;
  border-radius: 8px;
  color: #000;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 16px;
  gap: 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  position: absolute;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
  right: 0;
  top: 25px;
  width: 288px;
  z-index: 10;
}

.delivery-method__price-shipping_free:hover {
  cursor: pointer;
}
.delivery-method__price-shipping_free:hover
  + .delivery-method__price-shipping_free_info {
  display: flex;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}

.payment-method {
  background: #ffffff;
  border-radius: 16px;
  padding: 16px 24px 24px 24px;
  margin-top: 24px;
}
.payment-method__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-method__cards {
  padding-top: 8px;
}
.payment-method__card {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
}
.payment-method__image {
  width: 32px;
  height: 24px;
  background: #f6f6fa;
  border-radius: 4px;
  text-align: center;
}
.text-grey {
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a4;
}
.recipient {
  background: #ffffff;
  border-radius: 16px;
  padding: 16px 24px 24px 24px;
  margin-top: 24px;
}
.recipient__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipient__container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.recipient__form {
  position: relative;
}
.recipient__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 24px;
  margin-top: 37px;
  width: calc(100% - 24px);
}
.recipient__form:nth-child(1) {
  width: 50%;
}
.recipient__form:nth-child(2) {
  width: 50%;
}
.recipient__form:nth-child(3) {
  width: 33%;
}
.recipient__form:nth-child(4) {
  width: 33%;
}
.recipient__form:nth-child(5) {
  width: 33%;
}
.recipient__input:focus {
  outline: none;
}
.recipient__input:focus ~ .floating-label,
.recipient__input:not(:focus):valid ~ .floating-label {
  top: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  opacity: 1;
  color: #a0a0a4;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  top: 34px;
  left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  transition: 0.2s ease all;
  color: #a0a0a4;
}
.error-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #f55123;
}
.recipient__input_invalid {
  color: #f55123;
  border-bottom: 1px solid #f55123;
}
.input-subscription {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.total__table {
  width: 100%;
  margin-bottom: 9px;
}
.total__table tr td:nth-child(2) {
  text-align: right;
}
.total__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total__heading:not(:first-child) {
  margin-top: 24px;
}
.total__heading_span:first-child span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.total__span {
  margin-top: 4px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.total__text_magenta {
  margin-top: 4px;
  color: #cb11ab;
  border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
}
.total__link {
  color: #000;
  text-decoration-color: rgba(0, 0, 0, 0.1);
}
.button_edit {
  background: none;
  border: none;
  cursor: pointer;
}
.button_edit img {
  height: 100%;
}
.card_grey {
  padding: 8px 8px 12px;
  background: #f6f6fa;
  border-radius: 8px;
  margin-top: 12px;
  position: relative;
}
.button_magenta {
  background: #cb11ab;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border: none;
  width: 100%;
  text-align: center;
  color: #ffffff;
  padding: 12px 32px;
  margin: 24px 0 8px 0;
  cursor: pointer;
}
.footer {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  padding: 24px;
  color: rgba(255, 255, 255, 0.7);
}
.button_delete:hover {
  filter: invert(37%) sepia(76%) saturate(2062%) hue-rotate(347deg)
    brightness(98%) contrast(96%);
  cursor: pointer;
}
.button_favorite:hover {
  filter: invert(15%) sepia(82%) saturate(6305%) hue-rotate(302deg)
    brightness(92%) contrast(93%);
  cursor: pointer;
}
nav {
  display: none;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(5, 0, 10, 0.3);
  z-index: 1050;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: 400px;
  margin: auto;
}
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  outline: 0;
  max-height: 400px;
}
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 16px 24px 0px 24px;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.modal-body-title {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}
.modal-button {
  width: 50%;
  padding: 7.5px 48px;
}
.close {
  float: right;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: #a0a0a4;
  opacity: 0.5;
  text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 13px 24px 24px 24px;
  overflow: auto;
  height: 50vh;
}
.modal-footer {
  padding: 0 24px 24px 24px;
}
/* для элемента input c type="radio" */
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* для элемента label связанного с .custom-radio */
.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active + label::before {
  background-color: #cb11ab;
  border-color: #cb11ab;
}
/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked + label::before {
  border-color: #cb11ab;
  background-color: #cb11ab;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.tabs > input[type="radio"] {
  display: none;
}

.tabs > input[type="radio"]:checked + label {
  border: 2px solid #cb11ab;
  border-radius: 24px;
}

.tabs > div {
  /* скрыть контент по умолчанию */
  display: none;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3 {
  display: block;
}

.tabs > label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background: #ffffff;
  border: 2px solid rgba(203, 17, 171, 0.15);
  border-radius: 24px;
  padding: 9px 0 11px 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  margin-left: 8px;
  cursor: pointer;
  margin-bottom: 26px;
  width: calc(50% - 8px);
}

.tabs > label:first-of-type {
  margin-left: 0;
}
.delivery-method__address {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10.5px;
}
.delivery-method__address:first-child {
  margin-top: 12px;
}
@media screen and (max-width: 960px) {
  .container {
    padding: 0;
    flex-direction: column;
  }
  .container_items {
    padding: 15px 16px;
  }
  .container_cart {
    width: 100%;
  }
  .total {
    width: 100%;
    background: transparent;
    box-shadow: none;
  }
  .accordion__content {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
  }
  .accordion__content .checkbox + label::before {
    position: absolute;
    top: 20px;
    left: 4px;
    z-index: 1;
    background-color: #ffffff;
  }
  .accordion__content .checkbox:checked + label::before {
    z-index: 1;
    border-color: #cb11ab;
    background-color: #cb11ab;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  .card-item {
    width: 100%;
    order: 2;
  }
  .card-item__image img {
    width: 80px;
    height: 106px;
  }
  .card-item__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .card-item__params {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
  .card-item__geo {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
  .card-item__seller {
    display: none;
  }
  .item-operations {
    order: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .item-operations__form_counter {
    width: 80px;
    height: 32px;
  }
  .item-operations__form {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .item-price {
    display: none;
  }
  .item-price_for-mobile {
    display: block;
  }
  .item-price_for-mobile .item-price__discount {
    font-size: 16px;
    line-height: 24px;
  }
  .item-price_for-mobile .item-price__nodiscount {
    font-size: 13px;
    line-height: 16px;
  }
  .item-price__nodiscount_info {
    top: 28px;
    padding: 10px 16px;
  }
  .card-item__size {
    display: none;
  }
  .card-item__image {
    position: relative;
  }
  .card-item__size_for-mobile {
    display: block;
    position: absolute;
    bottom: 4px;
    left: 4px;
    background: #ffffff;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 3px;
  }
  .delivery-method {
    width: 100%;
  }
  .card_grey {
    background: #f0ecf4;
  }
  .total__delivery,
  .total__payment {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding: 0 13px 10px 13px;
    gap: 24px;
    height: auto;
  }
  .navigation {
    gap: 20px;
  }
  .navigation__logo {
    font-size: 26px;
    white-space: nowrap;
  }
  .navigation__button-catalog {
    border: none;
    background: url("../assets/button-catalog_mobile.svg") no-repeat center
      center;
    width: 28px;
  }
  .search-form {
    background: transparent;
    width: auto;
  }
  .search-form__input {
    display: none;
  }
  .search-form__button {
    opacity: 1;
    padding: 18px 0;
  }
  .menu-links {
    display: none;
  }
  .delivery-method__row {
    flex-direction: column;
  }
  .delivery-method__col-30 {
    width: 100%;
  }
  .delivery-method__col-70 {
    width: 100%;
    padding: 0;
  }
  .delivery-method__col-70 img {
    margin-top: 12px;
  }
  .delivery-method__col-70_count {
    top: 4px;
  }
  .recipient__form {
    width: 100% !important;
  }
  .heading_1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
  }
  .container_items {
    padding-bottom: 0;
  }
  .accordion__item:first-child {
    margin-top: 0;
  }
  .accordion__content {
    padding: 12px 0;
  }
  .delivery-method {
    margin-top: 0;
    padding: 16px;
  }
  .heading_2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
  }
  .delivery-method__price-shipping {
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
  .payment-method {
    margin-top: 12px;
    padding: 16px;
  }
  .recipient {
    margin-top: 12px;
    padding: 32px 16px;
  }
  .recipient__form:first-child .recipient__input {
    margin-top: 21px;
  }
  .recipient__form:first-child .floating-label {
    top: 18px;
  }
  .recipient__input {
    margin-right: 0;
    width: 100%;
    margin-top: 48px;
  }
  .floating-label {
    top: 44px;
  }
  .total {
    padding: 8px 16px 40px 16px;
  }
  .card_grey {
    padding: 8px, 8px, 12px, 8px;
  }
  .card_grey .delivery-method__price-shipping {
    padding: 0;
  }
  .delivery-method__price-shipping_free_info {
    top: 50px;
    right: -24px;
    width: 100vw;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 13px;
    height: 56px;
    background: #ffffff;
    box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2.5px);
  }
  nav .menu-links__count {
    font-weight: 700;
    font-size: 10px;
    line-height: 18px;
    padding: 0 6px;
    top: 5px;
    right: -5px;
  }
}
